.login {
    min-height:550px !important;
}
/*
.container {
    background: yellow;
    width: 200px;
    min-height:500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.container .login-row .login-column .login-box {
    margin-top: 150px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    min-height: 500px;
}

    .login .container .login-row .login-column .login-box #login-form {
        padding: 20px;
    }

        .login .container .login-row .login-column .login-box .login-form .register-link {
            margin-top: -85px;
        }
*/