body {
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 !important;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

* {
    margin-top: 0;
    padding: 01px;
    box-sizing: content-box;
}

.Header {
    width: 100%;
    height: 102px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191c32;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex !important;
    width: 50% !important;
    justify-content: space-around !important;
}

    .menu li {
        list-style: none !important;
    }

    .menu a {
        color: #fff;
        text-decoration: none !important;
        padding: 10px 20px !important;
    }

    .menu li:hover a {
        background-color: #808080 !important;
        color: #fff;
    }

    .menu .active {
        color: #000000 !important;
    }


    .menu li a:hover {
        color: #000000;
    }



.footer-right .Redes {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.Redes i {
    font-size: 1.5em;
}


HTML CSSResult Skip Results Iframe
EDIT ON
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto;
}



.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

    .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }

.footer-left {
    align-content: center;
}

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

    .footer-distributed p.footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        transition: ease .25s;
    }

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

    .footer-distributed .footer-right a {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition: all .25s;
    }

        .footer-distributed .footer-right a:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

