body {
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 !important;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

* {
    margin-top: 0;
    padding: 01px;
    box-sizing:content-box;

}


.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu {
    display: flex !important;
    width: 50% !important;
    justify-content: space-around !important;
}

    .menu li {
        list-style: none !important;
    }

    .menu a {
        color: #fff;
        text-decoration: none !important;
        padding: 10px 20px !important;
    }

    .menu li:hover a {
        background-color: #808080 !important;
        color: #fff;
    }

    .menu .active {
        color: #000000 !important;
    }


    .menu li a:hover {
        color: #000000;
    }


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color:lightblue;
    bottom:0;
}

.footer_contenido h2 {
    font-size: 3em;
}

.footer_contenido h5 {
    font-size: 1.5em;
    text-align: center;
}

.Redes {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

    .Redes i {
        font-size: 1.5em;
    }


.Contenedor{
    width:100px;
    float:left;
    display:flex;
    max-width:1200px;
    flex-wrap:wrap;
    justify-content:center;
    margin: .1em;
    padding: 2px;
    background-color: #191c32;

}



.card {
    width: 25%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px aqua;
    cursor: default;
    transition: all 400ms ease;

}

    .card:hover {
        transform: translateY(-3%)
    }

    .card img {
        display: block;
        margin: auto;
        width: 300px;
        height: 250px;
        z-index: 1;
    }

body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    width: 100%;
}

#login .container .login-row .login-column .login-box {
    margin-top: 150px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.login .container .login-row .login-column .login-box #login-form {
    padding: 20px;
}

.login .container .login-row .login-column .login-box .login-form .register-link {
    margin-top: -85px;
}
