body {
    font-family: 'Montserrat', sans-serif;
    background-color: #191c32 !important;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

* {
    margin-top: 0;
    padding: 01px;
    box-sizing:content-box;

}

.Header {
    width: 100%;
    height: 102px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191c32;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex !important;
    width: 50% !important;
    justify-content: space-around !important;
}

    .menu li {
        list-style: none !important;
    }

    .menu a {
        color: #fff;
        text-decoration: none !important;
        padding: 10px 20px !important;
    }

    .menu li:hover a {
        background-color: #808080 !important;
        color: #fff;
    }

    .menu .active {
        color: #000000 !important;
    }


    .menu li a:hover {
        color: #000000;
    }


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color:lightblue;
    bottom:0;
}

.footer_contenido h2 {
    font-size: 3em;
}

.footer_contenido h5 {
    font-size: 1.5em;
    text-align: center;
}

.Redes {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

    .Redes i {
        font-size: 1.5em;
    }


